html, body {
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

.container, .container-fluid {
  padding-top: 4%;
  padding-bottom: 4%;
}

.btn {
  background: #00A3AF;
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.launchericon {
  padding: 0.3em;
  margin-right: 0.3em;
}

.launch-btn {
  background: #00A3AF;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 2%;
}

h1 {
  font-weight: 700;
  font-size: 4em;
  line-height: 1em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  display: inline-block;
  font-size: 3em;
}

.vwfu {
  text-align: center;
  font-size: 1.3em;
}

.hero {
  align-items: center;
  text-align: center;
}

.herotext {
  color: #707070;
  font-size: 1.3em;
  /* width: 80%; */
}

.heroillus {
  width: 300px;
  margin: 0 0 2em 0;
}

p {
  color: #707070;
}

.steps {
  text-align: center;
  padding: 1.5em;
}

.veghsteps {
  width: 125px;
  margin: 2em;
}

.veghft {
  width: 64px;
  margin: 2em;
}

.withimg {
  background: linear-gradient(180deg, #11B9C4 0%, #6CC4A4 100%);
  color: white;
}

#highlight {
  color: white;
}

sup {
  vertical-align: super;
  font-size: 1em;
  color: #707070;
}

.footer {
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #6CC4A4 0%, #11B9C4 100%);
  text-align: center;
  padding: 2em;
  color: white;
  margin-bottom: 0;
}

.foot-text {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  color: white;
}

.footnav {
  font-size: 1.2em;
  color: white;
  margin: 0.8em;
}

.smedia {
  margin: 1em;
}

.footlogo {
  margin-bottom: 2em;
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.7em;
  }
}

@media only screen and (max-width: 488px) {
  h1 {
    font-size: 2.5em;
  }
  .herotext {
    font-size: 1.1em;
  }
  h2 {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 411px) {
  h1 {
    font-size: 2em;
  }
  .herotext {
    font-size: 1em;
  }
  h2 {
    font-size: 1.3em;
  }
}

@media only screen and (max-width: 335px) {
  h1 {
    font-size: 1.7em;
  }
  .herotext {
    font-size: 0.8em;
  }
  h2 {
    font-size: 1.1em;
  }
}

.simplenav {
  display: flex;
  align-items: center;
}

.content {
  margin: 0 5%;
}